.about{
    padding: 40px;
    margin: 70px;
    background-color: antiquewhite;
}
.button{
    text-align: right;
}
.ourmission{
    padding: 40px;
    margin: 70px;
    background-color: antiquewhite;
}
.ourvision{
    padding: 40px;
    margin: 70px;
    background-color: antiquewhite;
}
/* h2{
    text-align: left;
} */
p{
    text-align: left;
}